/*
INCIO DEL HEADER
*/
.lista-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    list-style: none;
    padding: 4px;
    gap: 10px;
    
}

.lista-nav .item-nav {
    text-align: center;
    flex-grow: 1;
}

.lista-nav .item-nav a {
    background-color: #000000;
    text-decoration: none;
    border-radius: 10px;
    display: block;
    color: white;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all 400ms;
}

.lista-menu{
    padding: 4px;
}


.lista-nav .item-nav a:hover{
    color:#ffd700;
    box-shadow: 5px 5px 20px green;
    transform: translateY(-3%)
}


.titulo-menu{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;    
    padding: 3px;
    text-align: center;
    font-size: 1.8em;
}

.container-cabecera{
    background-color: #e9967a;
}

.cabecera{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.cabecera li{
list-style: none;
margin: 0;
}

.cabecera a{
    text-decoration: none;
    color: #f0f8ff;
}


.cabecera img{
    width: 70px;
    padding: 0;
    margin: 0;
}
/* FIN  DEL HEADER */

/* INICIO DEL BODY */
.body-contacto{
    background-image:url('../imagenes/fondo-web.jpg');
    margin: 0;
    padding: 0;
}
/* FIN DEL BODY */


/*
INICIO DEL FORMULARIO
*/

.container{
    width: 100%;
}

.elemento-form{
    width: 200px;
    height: 30px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    width: 98%;
}


.form {
    background-color: #5C008C;
    border-radius: 2em;
    padding:30px;
    margin: 0 auto;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    justify-content: center;
}

input, textarea{
    background-color: #000000;
    color: #f0f8ff;
    font-size: 16px;
    border-bottom: 2px solid #ffd700; /* Color Dorado*/
    width: 100%;
}

.button{
padding: 10px 20px;
font-size: 16px;
background-color: #ffd700;
color: #000000;
border-radius: 10px;
}

.button:hover{
    background-color: #ffbf00; /*Color Dorado Más Oscuro*/
    transition: background-color 0.3s;
    cursor: pointer;
}

.titulo-contact{
    color: #fff;
    background-color: #ff1493;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 0.3em;
    text-align: center;
    margin: 0;
}

.form-contact{
    font-size: 20px;
    color: #f0f8ff;
    background-color: #ff1493;
    padding: 2px 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

/* FIN DEL FORMULARIO */



/* INICIO MEDIA QUERIES PARA TABLET*/
@media (min-width:768px){
    .lista-nav{
        flex-direction: row;
    }

    input, textarea{
        width: 90%;
    }

    .titulo-menu{
        font-size: 2em;
    }
    
        .cabecera{
            justify-content: space-around;
        }
        
    .cabecera img{
        width: 70px;
    }

    .tamaño-taza{
        text-align: center;
    }

    .tamaño-taza img{
        padding: 0 1em ;
        width: 70%;
        height: 50%;
    }


    .form{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .form-contact{
        display: grid;
        justify-content: center;
        align-items: center;
        padding: .5em;
    }

    .elemento-form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
}
/* FIN MEDIA QUERIES PARA TABLET */

/* INICIO MEDIA QUERIES LAPTOP */
@media (min-width:992px){
    .lista-nav{
        flex-direction: row;
    }

    .titulo-menu{
        font-size: 2.5em;
    }
    
        .cabecera{
            justify-content: space-around;
        }
        
    .cabecera img{
        width: 90px;
    }

    input, textarea{
        width: 100%;
    }

    .form{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .form-contact{
        display: grid;
        justify-content: center;
        align-items: center;
        padding: .5em;
    }

    .elemento-form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 4em 0;
    }

    .footer-header{
        align-self: flex-end;
    }

    .footer-iconos-grandes{
        grid-row: span 2;
    }

    .footer .footer-iconos-chicos{
        display: flex;
        gap: 10px;
        justify-content: flex-start;
        align-items: center;
    }

    .footer .icono-chico img{
        max-width: 100%;
        margin-left: 0;
    }

    .footer .icono-chico img{
        width: 24px;
        margin: 0;
    }
}
/* FIN MEDIA QUERIES LAPTOP */