/*
color-primario: #000000;
color-secunadrio: #f0f8ff;
color-terciario: #ff6347;
color-cuarto: #ff8c00;
color-quinto: #ffffff;
color-sexto: #0000ff,#ffff00;
*/

/*
CONTENIDO DEL HEADER
*/
.lista-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    list-style: none;
    padding: 0;
    gap: 10px;
    
}

.lista-nav .item-nav {
    text-align: center;
    flex-grow: 1;
}

.lista-nav .item-nav a {
    background-color: #000000;
    text-decoration: none;
    border-radius: 10px;
    border: 3px solid blue;
    display: block;
    color: white;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 800ms;
}

.lista-menu{
    padding: 4px;
}


.lista-nav .item-nav a:hover{
    color:#5C008C;
}

/* 
CONTENIDO DEL MAIN 
*/
.titulo-card-container{
    background-color:#ff8c00;
    color:#ffffff;
    border-radius: 10px;
    text-align: center;
}

/*
TITULO DE LAS PROMOCIONES
*/
.titulo-beneficio{
    font-size: 30px;
    background-color: #ff8c00;
    text-align: center;
    color: #f0f8ff;
    border-radius: 10px;
}

/*
CSS PARA LAS CARDS
*/
.card-container{
    font-size: 18px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: stretch;
}

.card{
    background-color: #000000;
    color: #f0f8ff;
    text-align: center;
    padding: 1em;
    border: 3px solid blue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.titulo-card{
    color: #ff6347;
}

.body-page{
    background-image:url('../imagenes/fondo-web.jpg');
    background-size: auto;
}


/*
ELEMENTOS DEL FOOTER
*/
.footer{
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
}


@media (min-width:768px){
    .lista-nav{
        flex-direction: row;
    }
    .card-container{
        grid-template-columns: 1fr 1fr 1fr;
    }    
}


@media (min-width:992px){
    .lista-nav{
        flex-direction: row;
    }
    .card-container{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .titulo-card-container {
        grid-column: span 3;
    }
}
